.table {
  border: 0px solid darkgray;
  border-radius: 10px;
  font-size: 24px;
  color: rgb(76, 75, 75);
  overflow: hidden;
}

.tr {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #f7f7f7;
}

.td {
  justify-content: center;
  text-align: center;
  // border-right: 1px solid #f7f7f7;
  // border-left: 1px solid #f7f7f7;
  align-items: center;
  display: flex;
}

.bg-line {
  background: #fff;
}

.bg-line:nth-child(2n-1) {
  background: #faf9f7;
}

.bg-header {
  justify-content: center;
  background: #f8e5c1;
  color: rgb(28, 27, 27);
  font-size: 26px;
  font-weight: 400;
  display: flex;
  height: 70px;
  align-items: center;
  text-align: center;
}
